<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Gulp Playground</title>
    <link rel="stylesheet" href="css/app.css" />
  </head>

  <body class="wrapper">
    {{> body }}
    <script src="js/libs.js"></script>
    <script src="js/pages/pages.js"></script>
  </body>
</html>